__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
venv_test/
ENV/

# Bazel artifacts
bazel-*
BUILD
BUILD.bazel

docs/

# Temporary test models and build environment
Qwen*/
mobile*net*/
build_env/
default.profraw

# LiteRT-CLI specific
test_env/
test_env_2/
qairt_sdk.zip
litert_npu_runtime_libraries/
google_tensor_runtime/
/litert_npu_runtime_libraries.zip

# Ignore tflite files
*.tflite
work_dir/
scratch/
